@font-face { 
    font-family: Fedra-Sans-Std-Book;
    src: url('fonts/Fedra-Sans-Std-Book_17248.ttf');
}
#home {
    background-color: #147E9D;
}
/* ----------------------- HEADER START ----------------------- */
.ui-bar-inherit {
    background-color: #147E9D !important;
}
.menu {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    margin-left: 5px;
    margin-top: 10px;
}
/* Logo */
.logo {
    display: inline-block;
    width: 30px;
    margin-left: 140px;
}
/* ----------------------- CONTENT START ----------------------- */
.bruksKonto {
    background-image: url(../images/wallet.png);
    background-position: center;
    background-repeat: no-repeat;
}
.oversikt {
    background-image: url(../images/stats.png);
    background-position: center;
    background-repeat: no-repeat;
}
.sparing {
    background-image: url(../images/piggy-bank.png);
    background-position: center;
    background-repeat: no-repeat;
}
.onsker {
    background-image: url(../images/gift.png);
    background-position: center;
    background-repeat: no-repeat;
}
.spareTips {
    background-image: url(../images/idea.png);
    background-position: center;
    background-repeat: no-repeat;
}
.profil {
    background-image: url(../images/man-user.png);
    background-position: center;
    background-repeat: no-repeat;
}
.instillinger {
    background-image: url(../images/settings.png);
    background-position: center;
    background-repeat: no-repeat;
}
.leggTil {
    background-image: url(../images/add.png);
    background-position: center;
    background-repeat: no-repeat;
}
.ui-block-a, .ui-block-b {
	width: 100%;
    border: 2px solid white;
}
.ui-btn {
    padding: 60px;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 375/667) {}

/*iPhone 6 Plus:*/
@media screen and (device-aspect-ratio: 16/9) {}

/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {}
