



.ui-btn {
    width: 40% !important;
	position: absolute;
	left: 50%;
	/**right: 50;**/
	margin-left: -20%;
	top: 90%;
	
	
	color: whitesmoke !important;
	background: #3aa1be;
	background: -moz-linear-gradient(top,  #3aa1be 0%, #378ca3 31%, #2e7082 100%);
	background: -webkit-linear-gradient(top,  #3aa1be 0%,#378ca3 31%,#2e7082 100%);
	background: linear-gradient(to bottom,  #3aa1be 0%,#378ca3 31%,#2e7082 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa1be', endColorstr='#2e7082',GradientType=0 );
}


h2 {
	text-align: center;
	color: whitesmoke;
	text-shadow: none;
	
}

h3 {
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
}

h4 {
	text-align: center;
	color: whitesmoke;
	font-size: 60px;
	position: relative;
	top: 35%;
}



hr {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%;
}

#pageHistory {
	background: #3aa1be;
	background: -moz-linear-gradient(top,  #3aa1be 0%, #378ca3 31%, #2e7082 100%);
	background: -webkit-linear-gradient(top,  #3aa1be 0%,#378ca3 31%,#2e7082 100%);
	background: linear-gradient(to bottom,  #3aa1be 0%,#378ca3 31%,#2e7082 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa1be', endColorstr='#2e7082',GradientType=0 );
}



#iconImg {
	position: absolute;
	top: 15%;
	left: 20%;
}

#object {
	position: absolute;
	top: 40%;
}

#utgiftList {
	position: absolute;
	top: 35%;
	left: auto;
	width: 100%;
	background-color: transparent;
}

.ui-listview>.ui-li-static {
	background-color: transparent !important;
	color: aliceblue;
}

.usi-slider {
	position: absolute !important;
	top: 30% !important;
}







